{% extends 'base.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Summary</th>
                <th>Createdate</th>
                <th>Editdate</th>
                <th>Madeby</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.Title }}</td>
                <td>{{ blog.text }}</td>
                <td>{{ blog.summary }}</td>
                <td>{{ blog.createdate ? blog.createdate|date('Y-m-d') : '' }}</td>
                <td>{{ blog.editdate ? blog.editdate|date('Y-m-d') : '' }}</td>
                <td>{{ blog.madeby }}</td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
